<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977445705058-pqnag95igccf0o26heafkck5qhh1te1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977445705058-pqnag95igccf0o26heafkck5qhh1te1e</string>
	<key>API_KEY</key>
	<string>AIzaSyA-XUkW5wyhkzu-DZ-O52KfPHt2MRrUaKc</string>
	<key>GCM_SENDER_ID</key>
	<string>977445705058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.intern</string>
	<key>PROJECT_ID</key>
	<string>inter-6f19b</string>
	<key>STORAGE_BUCKET</key>
	<string>inter-6f19b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977445705058:ios:5d339d07e96838e843c83b</string>
</dict>
</plist>